#about {
  height: 70vh;
  height: 100%;
  background: linear-gradient(to bottom left, #292929, transparent);
  display: flex;
  align-items: center;
  padding: 50px 0 25px 0;

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .img-container {
      margin-right: 70px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        filter: brightness(80%);
      }
    }

    .about-content {
      width: 400px;

      h3 {
        font-weight: 100;
      }

      p {
        text-align: justify;
        line-height: 23px;
        font-size: 15px;
        margin-top: 13px;
      }
    }
  }
}

@media screen and (max-width: 797px) {
  #about {
    .about-container {
      flex-direction: column;
      margin: 50px 0;

      .img-container {
        width: 175px;
        margin: 0;

        img {
          width: 175px;
          height: 175px;
          margin-bottom: 50px;
        }
      }

      .about-content {
        width: 50%;

        h3 {
          text-align: center;
        }
      }
    }
  }
}
